---
# --------------------------------

- name: 'include common pre-tasks'
  include_tasks: common-pre.yml
  tags:
  - ct-envoy

- name: 'include {{ct_family}} tasks'
  include_tasks: setup-{{ct_family}}.yml
  when:
  - ct_family == 'debian' or ct_family == 'redhat'
  tags:
  - ct-envoy

- name: 'include comon post-tasks'
  include_tasks: common-post.yml
  tags:
  - ct-envoy

# --------------------------------
...
